<p id="notice"><%= notice %></p>

<p>
  <b>Spark type:</b>
  <%= @spark.spark_type %>
</p>

<p>
  <b>Content type:</b>
  <%= @spark.content_type %>
</p>

<p>
  <b>Content:</b>
  <%= @spark.content %>
</p>

<p>
  <b>Content hash:</b>
  <%= @spark.content_hash %>
</p>


<%= link_to 'Edit', edit_spark_path(@spark) %> |
<%= link_to 'Back', sparks_path %>
